:root {
    --primary-color: #F27405;
    --secondary-color: #F24405;
    --tertiary-color: #D9D9D9;
    --quaternary-color: #ffffff67;
    --quintenary-color: #050EF2;
    --six-color: #0D0D0D;
    --color-seven: #FFFFFF;
    --gap: 3rem;
}
